.link3{
    margin-top: 30px;
}
.link3 span{
    font-size: 18px;
    font-weight: 600;
    color: #006CB7;
    padding-top: 2px;
}
.link3 a{
    font-size: 14px;
    font-weight: 600;
    color: #006CB7;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.left , .right{
    padding-top: 100px;
    height: 85vh;

}
.left{
    background: #ffffff;
}
.imgbg{
    background: url(../assets/login-illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 555px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding-left: 50px;
}
.imgbg ul{
    list-style: none;
}
.button1{
    margin-top: 20px;
    width: 211px;
    border-radius: 20px;
    font-size: 18px;
    color: #006CB7;
    font-weight: 600;
    padding: 10px 0;
    
}
.right{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.right h1{
color: #001C46;
font-size: 42px;
}
.right h2{
color: #667790;
font-size: 14px;
margin-top: 8px;
}
.right input{

    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border:1px solid rgba(99, 99, 99, 0.426);
    margin-top: 20px;
}
span{
    color: #D30000;
    padding-left: 20px;
    font-size: 12px;
}
.button2{
    margin-top: 20px;
    width: 244px;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 16px 20px;
    margin-top: 48px;
}
.right a{
    color: #006CB7;
    width: 100%;
}
.link{
    text-align: right;
}
footer{
    border-top: 1px solid #49525f56;
    width: 100%;
    padding-left: 100px;
}
footer a{
    color: #006CB7;
}

