/* /////////////////////// */
.ProductCard {
  border-radius: 30px;
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}
.ProductCard__Thumb{
  width: 184px;
  height: 151px
}
img, video {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}
.ProductCard__Details {
  min-height: 295px;
  border-radius: 40px;
  position: relative;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.25rem;
  border-radius: 30px;
  box-shadow: 0 0 40px -12px rgb(0 28 70 / 20%);
  min-height: 282px;
  max-height: 300px;
}
.name {
  height: 64px;
}
.text-sm {
  font-size: 0.875rem;

}
.font-body {
  font-family: Roboto, Arial, sans-serif;
}
.product-price{
  color: rgb(0, 136, 210);
  font-weight: bold;
  font-size: 18px;
}
.compareButton{
  border-radius: 20px;
  background-color: #e5f0f7;
  border: none;
  color: #007bcc;
}
.endLine {
  width: 100%; 
  text-align: center; 
  border-bottom: .01rem solid rgb(155, 155, 155); 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.endLine span { 
   background:#fafbfb; 
   padding:0 10px; 
}
.grow {
  transition: all .2s ease-in-out;
}
.grow:hover { 
  transform: scale(1.05); 
}
.heart{
  top:0px;
  right:20px;
}
.loveBtn{
  background-color: #e5f0f7;
  height: 55px;
  width: 40px;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
}
.marginDiv{
  margin-top: 200px;
}
.pageHeader{
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  color: #001c46;
}
.loadMore{
  background-color: #001c46 !important;
}

.dropDown, .dropDown:hover .dropDown:not(:active) , #dropdown-basic{
  border: none !important;
  background-color: #fafbfb !important;
  color: black !important;

}